
/* img.slide{
    height: 800px;
} */
/* .section-padding{
    padding: 100px 0;
}
.carousel-item{
 height: 100vh;
 min-height: 300px;
}
.carousel-caption{
    bottom: 440px;
   color: black;
}
.carousel-caption h5{
    font-size: 45px;
    letter-spacing: 2px;
}
.carousel-caption p{
    font-size: 20px;  */
/* } */
/* .navbar-light.navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
} */
/* * .section-padding{
    padding: 100px 0;
} */
/* .nav-item.nav-link{
    color: black;
} */

/*=== responsive css== */ 

/* @media only screen and(max-width:767px){
    .navbar-nav{
        text-align: center;
    } */
    /* .carousel-caption{
        bottom: 125px;
    } */
    /* .carousel-caption h5{
        font-size: 17px;

    } */
    /* .carousel-caption a{
        padding: 10px;
    } */
    /* .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    } */


/* @media only screen and (min-width:768px) and (max-width:991px){
    .carousel-caption{
        bottom: 370px;
    } */
    /* .carousel-caption h5{
        font-size: 100px;

    } */
    /* .carousel-caption p{
        width: 100%;
        
    }

} */


